/* Estilo básico para la galería */
figure {
    margin:0;
  }
  #gallery {
      max-width: 100%;
      max-height: 600px;
      margin: auto;
      overflow: hidden;
      background-color: #f0e130;
      border-radius: 0;
      box-shadow: inherit;
  }
  
  .gallery-container {
      display: flex;
      transition: transform 0.5s ease-in-out;
  }
  
  .gallery-item {
      min-width: 100%;
      box-sizing: border-box;
  }
  
  .gallery-item img {
      width: 100%;
      display: block;
      max-height: 600px;
  }
  #gallery figcaption{
    position: relative;
    bottom: 10%;
    left: 10%;
    width: 80%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    font-size: 50px;
    text-align: center;
  }
  #gallery a{
    text-decoration: none;
    color: black;
  }
  /* Navegación de la galería */
  .gallery-navigation {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 40px);
      margin: 0 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%)
  }
  
  .nav-button {
      background-color: rgba(0,0,0, .3);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
  }
  .nav-button > span {
    font-size: 30px;
  }
  .nav-button:hover {
      background-color: #005f5f;
  }